html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    background-color: rgb(162, 239, 211);
    margin: 0;
    margin-top: 20px;
    padding: 0;
}

.header {
    text-align: center;
    margin-bottom: 10px;
    background-color: rgb(40, 238, 231);
}

.footer {
    text-align: center;
    margin-top: 10px;
    background-color: rgb(162, 239, 211);
}

@media screen and (min-width: 640px) {
    .main {
      display: grid;
      margin: 10px;
    }
  }
  
  @media screen and (min-width: 1000px) {
    .main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: center;
        }
  }

  .input {
align-items: center;
  }

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;     
}
.List {
    text-align: justify;
    color: black;
}

a {
    font-weight: bold;
    font-size: medium;
}

.items {
    padding: 10px;
    margin-top: 15px;
    text-decoration: none;
    box-shadow: #c7421a1f 4px 4px 4px 6px;
    border-radius: 20px;
    text-align: center;
}

.header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    text-align: center;
    align-items: center;
    gap: 20px;
    font-size: 18px;
}

img {
    height: 50px;
}
